[Desktop Entry]
Type=Application
Name=MidoriVPN
Name[de]=MidoriVPN
Name[fr]=MidoriVPN
Name[ru]=MidoriVPN
Name[es]=MidoriVPN
Name[pt]=MidoriVPN
GenericName=VPN Client
GenericName[de]=VPN-Client
GenericName[fr]=Client VPN
GenericName[ru]=VPN-клиент
GenericName[es]=Cliente VPN
GenericName[pt]=Cliente VPN
Comment=Secure private mesh VPN by Astian
Comment[de]=Sicheres privates Mesh-VPN von Astian
Comment[fr]=VPN mesh privé et sécurisé par Astian
Comment[ru]=Безопасная частная сеть VPN от Astian
Comment[es]=VPN de malla privada y segura de Astian
Comment[pt]=VPN de malha privada e segura da Astian
Exec=midorivpn-desktop
Icon=midorivpn
Terminal=false
Categories=Network;Security;
Keywords=VPN;Privacy;Mesh;WireGuard;
StartupNotify=true
StartupWMClass=midorivpn-desktop
MimeType=
